{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
  <div class="navbar">
    <img src="/static/img/icon.png" style="background-size: contain;" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/certifications" class='active'>Certifications</a></li>
      <li><a href="/farms">Farms</a></li>
      <li><a href="/soils">Soils</a></li>
    </ul>
  </div>

  <h1>Transparency Is Trust.</h1>

  <h2>Certifications</h2>
    The certifications will be tiered based on the overall score in each category.
    <ul>
      <li>Gold (All Tiers Passed)</li>
      <li>Silver (Three Tiers Passed)</li>
      <li>Bronze (Two Tiers Passed)</li>
    </ul>

  <h2>Categories</h2>
  <ul>
    <li><h3>Sustainability</h3>
    <ul>
      <li><h4>Carbon Footprint</h4></li>
      <li><h4>Water Usage</h4></li>
      <li><h4>Input Efficiency</h4></li>
    </ul>

    <li><h3>Process Consistency</h3>
    <ul>
      <li><h4>Tracability</h4></li>
      <li><h4>Quality Management System</h4></li>
    </ul>

    <li><h3>Fertilizer Methods</h3>
    <ul>
      <li><h4>Which Ones</h4></li>
      <li><h4>Emission Control</h4></li>
      <li><h4>Existing Certifications</h4></li>
    </ul>

    <li><h3>Pest Control Method</h3>
    <ul>
      <li><h4>Which Ones</h4></li>
      <li><h4>Emission Control</h4></li>
      <li><h4>Existing Certifications</h4></li>
    </ul>
  </ul>


  <!-- <div class="body">
  <table>
    {% for cert in certifications %}
    <tr>
      <<td><a href='/certification/{{cert.id}}'>{{ cert.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  </div> -->

</body>
