{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
  <div class="navbar">
    <img src="/static/img/icon.png" style="background-size: contain;" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/certifications" class='active'>Certifications</a></li>
      <li><a href="/farms">Farms</a></li>
    </ul>
  </div>

    <h1>Transparency Is Trust.</h1>

  <h2>Certifications</h2>



    The certifications will be tiered based on the overall score in each category.
    <ul>
      <li>Gold (All Tiers Passed)</li>
      <li>Silver (Three Tiers Passed)</li>
      <li>Bronze (Three Tiers Passed)</li>
    </ul>


  <h2>Sustainability</h2>

    <h3>Carbon Footprint</h3>
    <h3>Water Usage</h3>
    <h3>Input Efficiency</h3>

  <h2>Process Consistency</h2>

    <h3>Tracability</h3>
    <h3>Quality Management System</h3>

  <h2>Fertilizer Methods</h2>
    <h3>Which Ones</h3>
    <h3>Emission Control</h3>
    <h3>Existing Certifications</h3>

  <h2>Pest Control Method</h2>
    <h3>Which Ones</h3>
    <h3>Emission Control</h3>
    <h3>Existing Certifications</h3>



  <!-- <div class="body">
  <table>
    {% for cert in certifications %}
    <tr>
      <<td><a href='/certification/{{cert.id}}'>{{ cert.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  </div> -->

</body>
