{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
  <div class="navbar">
    <img src="/static/img/icon.png" style="background-size: contain;" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/certifications">Certifications</a></li>
      <li><a href="/farms" class='active'>Farms</a></li>
    </ul>
  </div>

  {% if not greenhouse %}
    <h1> Error: Greenhouse not found </h1>
  {% else %}
    <h1>{{ greenhouse.name }}</h1>
    <p>Type: {{ greenhouse.type }}</p>
    <p>Address: {{ greenhouse.address }}</p>
    <p>Phone: {{ greenhouse.phone }}</p>
    <p>Join Date: {{ greenhouse.joinDate }}</p>

    {% if not certifications %}
      <p>No Certifications</p>
    {% else %}
      <p>Certifications: </p>
      <table style="padding-left: 25px;">
      {% for cert in certifications %}
        <tr><td>{{ cert.name }}</td><td>{{ cert.score }}%</td><td>Issued on {{ cert.dateCertified }}</td></tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if not products %}
      <p>No Products</p>
    {% else %}
      <p>Products:</p>
      <table>
      {% for p in products %}
        <tr><td><a href="/product/{{p.product.id}}">{{ p.recipe.name }}</a></td></tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endif %}
</body>
