{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>
        <!-- Header -->
            <header id="header">
                <a class="logo" href="/">AgriCheck</a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
                    <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                  <li><a href="/" class='active'>Home</a></li>
                  <li><a href="/certifications">Certifications</a></li>
                  <li><a href="/farms">Farms</a></li>
                </ul>
            </nav>
  <div class="navbar">


  </div>
  <section id="banner">
    <div class="inner">
      <h1>AgriCheck</h1>
      <p>A trust based certification system for greenhouse products</p>
    </div>
  </section>

<section class="wrapper">
  <div class="inner">
  <header class="special">
              <img src="/static/img/icon.png" class="main-logo"/>
  <h2>The Question </h2>
  <p>How can technology help consumers learn about the soil and water management and production
  practices used to product the flowers and plants they purchase?</p>
  </header>
  <div class="highlights">
  <section>
    <div class="content">
    <header>
    <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
    <h3>Background</h3>
    </header>
    <p>Niagara is home to over 500 acres of greenhouses; much of that in floriculture (flower)
    & nursery production valued at over $300 million per year. At a provincial level, Ontario
    exports $275 million and imports another $260 million of flowers and nursery products every year.
    Flowers are beautiful, but most consumers don't know what happens inside a greenhouse, or whether the plants
    they buy were grown sustainably. In recent years, water quality from greenhouses has become an increasing concern.
    The incoming qater quality needs to be good, with no contaminants that could harm the plants. At the same time, excess/unused
    fertilizer can build up in the water. Some greenhouses have come under scrutiny for fertilizer-containing water being
    discharged into the natural environment. Many greenhouses have started recycling their water and using additional water
    treatment to remove leftover fertilizer. Educating consumers about growing practices and highlighting sustainably-grown Products
    may help encourage greenhouse growers to continue innovating and adopting better practices. How can technology provide some solutions here?
    </p>
    </div>
    </section>
  <section>
    <div class="content">
    <header>
      <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
      <h3>Our Solution</h3>
        </header>
      <p>A consumer focused education inititive that starts at the retail level. Our solution is to offer a certification process for greenhouses
as well as soil producers so consumers know what they are getting when they bring potted plants home.</p>
</div>
</section>
  <section>
    <div class="content">
    <header>
      <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
      <h3>The Approach </h3>
      </header>
      <p>We need a simple way to inform the consumers about where plants come from. Following from how grocery stores sort produce based
  on organic or non-organic certified vegetables. If we can come up with a certification for those greenhouses that is plainly visible
  to the consumer like the organic and non-organic produce.

  On the certified plants we will use a QR code to educate the consumer on:

  <ul>
    <li>What type of plant did they buy? </li>
    <li>What did the grower/farmer do to grow this plant? And how can you continue to care for it properly? </li>
    <li>What practices does the grower/farmer follow when caring for these plants? </li>
    <li>What type of soil/fertilizer should you purchase with this plant?</li>
    <li>What type of plants grow best along side this plant</li>
 </ul>

 The goals being that with an educated consumer making informed decisions, with informed consumers their certified plants will thrive and they
 will trust the product and come back for more.

 When the consumer trusts the product, they will return to the retailer for more products, if the consumer comes back to buy more the retailer
 and the farmer both win.
</p>
</div>
</section>

</body>
