{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
  <div class="navbar">
    <img src="/static/img/icon.png" style="background-size: contain;" />
    <a href="/">Home</a>
    <a href="/greenhouses">Greenhouse Partners</a>
  </div>

  <h1>About Us</h1>
</body>

<script>
  $('body').append(`running jquery version ${$.fn.jquery}`);
</script>
