{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body class="is-preload">
        <!-- Header -->
            <header id="header">
                <a class="logo" href="/">AgriCheck</a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
                    <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/certifications">Certifications</a></li>
                  <li><a href="/farms">Farms</a></li>
                  <li><a href="/soils" class='active'>Soils</a></li>
                </ul>
            </nav>
              <section id="main" class="wrapper">
  <div class="inner">
  <!--<div class="highlights">-->
  <section>
  <div class="content">

  {% if not soil %}
    <h1> Error: Soil not found!</h1>
  {% else %}
    <h1>{{ soil.name }}</h1>
    <h3>pH: {{ soil.pH }}</h3>
    <h3>Nitrogen: {{ soil.nitrogen }}</h3>
    <h3>Phosphorus: {{ soil.phosphorus }}</h3>
    <h3>Potassium: {{ soil.potassium }}</h3>
    <h3>Calcium: {{ soil.calcium }}</h3>
    <h3>Copper: {{ soil.copper }}</h3>
    <h3>Sulfur: {{ soil.sulphur }}</h3>
  {% endif %}
  </div>
  </section>
  </div>
  </section>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/browser.min.js' %}"></script>
            <script src="{% static 'js/breakpoints.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
</body>
