{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
        <!-- Header -->
            <header id="header">
                <a class="logo" href="/">AgriCheck</a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
                    <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                  <li><a href="/" class='active'>Home</a></li>
                  <li><a href="/certifications">Certifications</a></li>
                  <li><a href="/farms">Farms</a></li>
                  <li><a href="/soils">Soils</a></li>
                </ul>
            </nav>

  {% if not soil %}
    <h1> Error: Soil not found!</h1>
  {% else %}
    <h1>{{ soil.name }}</h1>
    <p>pH: {{ soil.pH }}</p>
    <p>Nitrogen: {{ soil.nitrogen }}</p>
    <p>Phosphorus: {{ soil.phosphorus }}</p>
    <p>Potassium: {{ soil.potassium }}</p>
    <p>Calcium: {{ soil.calcium }}</p>
    <p>Copper: {{ soil.copper }}</p>
    <p>Sulfur: {{ soil.sulphur }}</p>
  {% endif %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/browser.min.js' %}"></script>
            <script src="{% static 'js/breakpoints.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
</body>
