{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/browser.min.js' %}"></script>
  <script src="{% static 'js/breakpoints.min.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <!-- Header -->
        <header id="header">
            <a class="logo" href="/">AgriCheck</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
                <!-- Nav -->
        <nav id="menu">
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/certifications">Certifications</a></li>
              <li><a href="/farms">Farms</a></li>
              <li><a href="/soils" class='active'>Soils</a></li>
            </ul>
        </nav>
<div class="body">
  {% if not soils %}
  <h1>No Soils found!</h1>
  {% else %}
  <table>
    <tr>
      <th>Name</th>
    </tr>
    {% for soil in soils %}
    <tr>
      <td><a href='/soil/{{soil.id}}'>{{ soil.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/browser.min.js' %}"></script>
  <script src="{% static 'js/breakpoints.min.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
