{% load staticfiles %}
<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
  <div class="navbar">
    <img src="/static/img/icon.png" style="background-size: contain;" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/certifications">Certifications</a></li>
      <li><a href="/farms">Farms</a></li>
      <li><a href="/soils" class='active'>Soils</a></li>
    </ul>
  </div>

  {% if not soil %}
    <h1> Error: Soil not found!</h1>
  {% else %}
    <h1>{{ soil.name }}</h1>
    <p>pH: {{ soil.pH }}</p>
    <p>Nitrogen: {{ soil.nitrogen }}</p>
    <p>Phosphorus: {{ soil.phosphorus }}</p>
    <p>Potassium: {{ soil.potassium }}</p>
    <p>Calcium: {{ soil.calcium }}</p>
    <p>Copper: {{ soil.copper }}</p>
    <p>Sulfur: {{ soil.sulphur }}</p>
  {% endif %}
</body>
